name: PR Test

on:
  pull_request:

concurrency:
  group: '${{ github.workflow }} @ ${{ github.ref }}'
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - run: sudo apt update && sudo apt install -y optipng imagemagick
      - run: ./scripts/build.sh
      - name: Test output
        run: |
          # Make sure ./dist/generated/fullres has png files
          if [ -z "$(ls -A ./dist/generated/fullres)" ]; then
            echo "No files found in ./dist/generated/fullres"
            exit 1
          fi

          if [ -z "$(ls -A ./dist/generated/halfres)" ]; then
            echo "No files found in ./dist/generated/halfres"
            exit 1
          fi

          if [ -z "$(ls -A ./dist/generated/social)" ]; then
            echo "No files found in ./dist/generated/social"
            exit 1
          fi

          # Check that the files under dist/generated are not zero bytes
          for file in $(find ./dist/generated -type f); do
            if [ ! -s "$file" ]; then
              echo "File $file is zero bytes"
              exit 1
            fi
          done

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: dist
          path: dist
          if-no-files-found: error
          retention-days: 1
