name: Release

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - data/**
      - scripts/**

concurrency:
  group: '${{ github.workflow }} @ ${{ github.ref }}'
  cancel-in-progress: false

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - run: sudo apt update && sudo apt install -y optipng imagemagick
      - run: ./scripts/build.sh

      - name: Compress release asset
        run: (cd dist; tar -cz .) > gallery.tar.gz

      - name: Create release
        uses: actions/github-script@f28e40c7f34bde8b3046d885e986cb6290c5673b # v7.1.0
        id: create_release
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            try {
              const response = await github.rest.repos.createRelease({
                draft: false,
                generate_release_notes: true,
                name: "${{ github.run_number }}",
                owner: context.repo.owner,
                prerelease: false,
                repo: context.repo.repo,
                tag_name: "${{ github.run_number }}",
              });

              core.setOutput('upload_url', response.data.upload_url);
            } catch (error) {
              core.setFailed(error.message);
            }

      - name: Upload release asset
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: gallery.tar.gz
          asset_name: gallery.tar.gz
          asset_content_type: application/octet-stream
